<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CmsContext" connectionString="data source=JOSE\SQLSERVER;initial catalog=CmsSI;persist security info=True;user id=sa;password=203203280;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>