@{
    int tipo = ViewBag.tipo;
}


<div id="experiencia" class="page">

    <h1 class="page-header remove-margin" >
         <a class="btn btn-primary pull-right" href="~/admin/Contenido/Agregar?tipo=@tipo">Agregar</a>
    @ViewBag.Title
    </h1>

    <div id="list"></div>
</div>

<script>
    $(document).ready(function () {
        var agrid = $("#list").anexGrid({
            class: 'table-striped table-bordered table-condensed',
            columnas: [
              
                { leyenda: 'Titulo', columna: 'Titulo', ordenable: true, filtro:true },
                { leyenda: 'Descripcion', columna: 'Descripcion', ordenable: true, filtro: true, style: 'btn-success' },
                { leyenda: 'Creado Por', columna: 'Usuario.Nombre', ordenable: true, filtro: true },
                //{ leyenda: 'Hasta', columna: 'Hasta', ordenable: true },
                { style: 'width:60px' },
            ],
            modelo: [
                {
                    propiedad: 'Titulo', formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/admin/contenido/Agregar/")' + obj.idContenido,
                            contenido: valor
                        });
                    }
                },
                { propiedad: 'Descripcion' },
                { propiedad: 'Usuario.Nombre' },
      
                {
                    propiedad: 'Titulo', formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/admin/contenido/eliminar/")' + obj.idContenido,
                            contenido: '<i class="fa fa-trash"></i>',
                            class: 'btn btn-danger btn-xs btn-block btn-eliminar',
                        });
                    }
                },
            ],
            url: '@Url.Content("~/admin/contenido/listar/?Tipo=")+ @tipo' ,
            paginable: true,
            filtrable: true,
            limite: [20, 60, 100],      
            columna: 'Titulo',
            columna_orden: 'DESC'
        });

        agrid.tabla().on('click', '.btn-eliminar', function () {
            if (!confirm('¿Está seguro de eliminar este registro?'))
            {
                return;
            }

            $.post($(this).attr('href'), function (r) {
                if (r.response) agrid.refrescar();
            }, 'json')

            return false;
        })
    })
</script>   