@model Model.Entities.Contenido
<!-- Start Clients Section -->
<div class="row">
    <div class="col-md-12">
        <div class="clients-section">
            <h3 class="section-title">Our Honourable Client</h3>
            <div id="clients">
                <div><img src="images/client/clients1.png" class="img-responsive" alt=""></div>
                <div><img src="images/client/clients2.png" class="img-responsive" alt=""></div>
                <div><img src="images/client/clients3.png" class="img-responsive" alt=""></div>
                <div><img src="images/client/clients4.png" class="img-responsive" alt=""></div>
                <div><img src="images/client/clients5.png" class="img-responsive" alt=""></div>
                <div><img src="images/client/clients6.png" class="img-responsive" alt=""></div>
                <div><img src="images/client/clients7.png" class="img-responsive" alt=""></div>
            </div>
        </div>
    </div>
</div>
<!-- End Clients Section -->
