@model IEnumerable< Model.Entities.Contenido>
<!-- Start Clients Section -->
<div class="row">
    <div class="col-md-12">
        <div class="clients-section">
            <h3 class="section-title">Nuestros clientes</h3>
            <div id="clients">
@foreach (var item in Model)
{

                <div><a href="@item.Link" target="_blank"><img src="~/Uploads/Clientes/@item.Imagen" class="img-responsive" alt="" style="width:160px;height:40px;"></a></div>
}
            </div>
        </div>
    </div>
</div>
<!-- End Clients Section -->
