@model Model.Entities.Contenido

<!-- Start Team Section -->
<div class="row">
    <div class="col-md-12">
        <div class="team-section">
            <h3 class="section-title">Our Expert Team</h3>

            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="active"><a href="#management" role="tab" data-toggle="tab">Management</a></li>
                <li><a href="#architect" role="tab" data-toggle="tab">Architect</a></li>
                <li><a href="#engineer" role="tab" data-toggle="tab">Engineer</a></li>
            </ul>


            <div class="tab-content">

                <div class="tab-pane active" id="management">
                    <div class="our-team" id="our-team">

                        <div class="team-member">
                            <img src="images/team/manage-1.png" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <p>Founder & Director</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="team-member">
                            <img src="images/team/manage-2.png" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <p>Founder & Director</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="team-member">
                            <img src="images/team/manage-3.png" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <p>Founder & Director</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="team-member">
                            <img src="images/team/manage-4.png" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <p>Founder & Director</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="team-member">
                            <img src="images/team/manage-1.png" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <p>Founder & Director</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="team-member">
                            <img src="images/team/manage-2.png" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <p>Founder & Director</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>


                <div class="tab-pane" id="architect">
                    <div class="our-team" id="our-team">

                        <div class="team-member">
                            <img src="images/team/team-1.jpg" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <p>Founder & Director</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="team-member">
                            <img src="images/team/team-2.jpg" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <p>Founder & Director</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="team-member">
                            <img src="images/team/team-3.jpg" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <p>Founder & Director</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="team-member">
                            <img src="images/team/team-4.jpg" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <p>Founder & Director</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="team-member">
                            <img src="images/team/team-2.jpg" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <p>Founder & Director</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="team-member">
                            <img src="images/team/team-3.jpg" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <p>Founder & Director</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="tab-pane" id="engineer">
                    <div class="our-team" id="our-team">

                        <div class="team-member">
                            <img src="images/team/manage-1.png" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <p>Founder & Director</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="team-member">
                            <img src="images/team/team-1.jpg" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <p>Founder & Director</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="team-member">
                            <img src="images/team/manage-2.png" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <p>Founder & Director</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="team-member">
                            <img src="images/team/team-3.jpg" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <p>Founder & Director</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="team-member">
                            <img src="images/team/manage-3.png" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <p>Founder & Director</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="team-member">
                            <img src="images/team/team-2.jpg" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <p>Founder & Director</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="team-member">
                            <img src="images/team/manage-4.png" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <p>Founder & Director</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="team-member">
                            <img src="images/team/team-4.jpg" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <p>Founder & Director</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

            </div><!-- /.tab-content -->

        </div>
    </div>
</div>
<!-- End Team Section -->
