@model Model.Entities.Empresa
<!-- Start Header Section -->
<div class="header-section">
    <div class="row">
        <div class="col-md-5 col-sm-5">
            <div class="logo-img">
                <a href="#"><img src="~/Uploads/@Model.Imagen" aling="left" class="img-responsive" style="width:350px;height:148px;" alt=""></a>
            </div>
        </div>
        <div class="col-md-7 col-sm-7">
            <div class="top-info">
                <ul class="top-social">
                    <li><a href="@Model.Facebook" class="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="@Model.Twitter" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="@Model.LinkedIn" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                    @*<li><a href="#" class="flickr"><i class="fa fa-flickr"></i></a></li>
                    <li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>*@
                </ul>
                <div class="top-phone clearfix"><i class="fa fa-phone"></i>@Model.Celular</div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Section -->
