
  <!-- Start Navigation Section -->
<div class="navigation">

    <div class="navbar navbar-default navbar-top">
        <div class="navbar-header">
            <!-- Stat Toggle Nav Link For Mobiles -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>

        </div>
        <div class="navbar-collapse collapse">

            <!-- Start Navigation List -->
            <ul class="nav navbar-nav">
                <li>
                    <a class="active" href="index.html">Inicio</a>
                    @*<ul class="dropdown">
                        <li>
                            <a class="active" href="index.html">Home Style 1</a>
                        </li>
                        <li>
                            <a href="index-2.html">Home Style 2</a>
                        </li>
                    </ul>*@
                </li>
                <li>
                    <a href="#">Nosotros</a>
                    <ul class="dropdown">
                        <li>
                            <a href="about.html">About Us Style 1</a>
                        </li>
                        <li>
                            <a href="about-2.html">About Us Style 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Servicios</a>
                    <ul class="dropdown">
                        <li>
                            <a href="service.html">Service Style 1</a>
                        </li>
                        <li>
                            <a href="service-2.html">Service Style 2</a>
                        </li>
                        <li>
                            <a href="service-single.html">Building Construction</a>
                        </li>
                        <li>
                            <a href="service-single.html">Home Decoration</a>
                        </li>
                        <li>
                            <a href="service-single.html">Painting</a>
                        </li>
                        <li>
                            <a href="service-single.html">Plastering & Tiling</a>
                        </li>
                        <li>
                            <a href="service-single.html">Kitchen & Bathroom Installation</a>
                        </li>
                        <li>
                            <a href="service-single.html">Handyman Service</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Pages</a>
                    <ul class="dropdown">
                        <li>
                            <a href="404.html">404 Page</a>
                        </li>
                        <li>
                            <a href="faq.html">FAQ</a>
                        </li>
                        <li>
                            <a href="main-body.html">Main Body</a>
                        </li>
                        <li>
                            <a href="our-team.html">Our Team</a>
                        </li>
                        <li>
                            <a href="pricing.html">Pricing</a>
                        </li>
                        <li>
                            <a href="testimonial.html">Testimonial</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="project-3-col.html">Proyectos</a>
                    <ul class="dropdown">
                        <li>
                            <a href="project-2-col.html">2 Columns</a>
                        </li>
                        <li>
                            <a href="project-3-col.html">3 Columns</a>
                        </li>
                        <li>
                            <a href="project-4-col.html">4 Columns</a>
                        </li>
                        <li>
                            <a href="project-single-full-width.html">Single Project - Full Width</a>
                        </li>
                        <li>
                            <a href="project-single-sidebar.html">Single Project - Sidebar</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="blog.html">Clientes</a>
                    <ul class="dropdown">
                        <li>
                            <a href="blog.html">Blog - right Sidebar</a>
                        </li>
                        <li>
                            <a href="blog-left-sidebar.html">Blog - Left Sidebar</a>
                        </li>
                        <li>
                            <a href="blog-full-width.html">Blog - Full Width</a>
                        </li>
                        <li>
                            <a href="blog-single-post.html">Blog Single Post</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Contacto</a>
                    <ul class="dropdown">
                        <li>
                            <a href="contact-full-width.html">Contact Style 1</a>
                        </li>
                        <li>
                            <a href="contact-sidebar.html">Contact Style 2</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- End Navigation List -->
        </div>
    </div>

</div>
<!-- End Navigation Section -->  <!-- Start Navigation Section -->
