@model IEnumerable<Model.Entities.Contenido> 

   <!-- Start Latest News & Testimonial Section -->
<div class="row">

    <!-- Start Latest News Section -->
    <div class="col-md-8">
        <div class="latest-news">
            <h3 class="section-title">Latest News</h3>
            <div id="latest-news">
@foreach (var intem in Model)
{ 
                <div class="latest-post">
                    <img src="images/post-1.jpg" class="img-responsive" alt="">
                    <h4><a href="#">Nemo enim ipsam voluptatem quia volup</a></h4>
                    <div class="news-details">
                        <ul>
                            <li><i class="fa fa-calendar"></i>21 Aug, 2014</li>
                            <li><i class="fa fa-bookmark"></i>Construction</li>
                        </ul>
                    </div>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
}
                <div class="latest-post">
                    <img src="images/post-2.jpg" class="img-responsive" alt="">
                    <h4><a href="#">Sed ut perspiciatis unde omnis iste</a></h4>
                    <div class="news-details">
                        <ul>
                            <li><i class="fa fa-calendar"></i>21 Aug, 2014</li>
                            <li><i class="fa fa-bookmark"></i>Painting</li>
                        </ul>
                    </div>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>

                <div class="latest-post">
                    <img src="images/post-3.jpg" class="img-responsive" alt="">
                    <h4><a href="#">Neque porro quisquam est qui dolorem</a></h4>
                    <div class="news-details">
                        <ul>
                            <li><i class="fa fa-calendar"></i>21 Aug, 2014</li>
                            <li><i class="fa fa-bookmark"></i>Fitings & Tiling</li>
                        </ul>
                    </div>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>

                <div class="latest-post">
                    <img src="images/post-4.jpg" class="img-responsive" alt="">
                    <h4><a href="#">Nemo enim ipsam voluptatem quia volup</a></h4>
                    <div class="news-details">
                        <ul>
                            <li><i class="fa fa-calendar"></i>21 Aug, 2014</li>
                            <li><i class="fa fa-bookmark"></i>Decoration</li>
                        </ul>
                    </div>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>

            </div>

        </div>
    </div>
    <!-- End Latest News Section -->
    <!-- Start Testimonial Section -->
    <div class="col-md-4">
        <div class="testimonial-section">
            <h3 class="section-title">Client's Speech About Us</h3>
            <div id="testimonials">

                <div class="testimonial">
                    <img src="images/team/team-3.jpg" class="img-responsive" alt="">
                    <h4>John Doe</h4>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
                </div>

                <div class="testimonial">
                    <img src="images/team/team-1.jpg" class="img-responsive" alt="">
                    <h4>John Doe</h4>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
                </div>

                <div class="testimonial">
                    <img src="images/team/team-2.jpg" class="img-responsive" alt="">
                    <h4>John Doe</h4>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
                </div>

            </div>
        </div>
    </div>
    <!-- End Testimonial Section -->

</div>
<!-- End Latest News & Testimonial Section -->

