@model IEnumerable<Model.Entities.Contenido> 

   <!-- Start Latest News & Testimonial Section -->
<div class="row">

    <!-- Start Latest News Section -->
    <div class="col-md-8">
        <div class="latest-news">
            <h3 class="section-title">Últimas noticias</h3>
            <div id="latest-news">
@foreach (var item in Model)
{ 
                <div class="latest-post">
                    <img src="~/Uploads/Noticias/@item.Imagen" class="img-responsive" style="width:344px;height:169px;" alt="">
                    <h4><a href="#">@item.Titulo</a></h4>
                    <div class="news-details">
                        <ul>
                            <li><i class="fa fa-calendar"></i>@item.CreadoFecha</li>
                            @*<li><i class="fa fa-bookmark"></i>Construction</li>*@
                        </ul>
                    </div>
                    <p>@item.Descripcion</p>
                    <a href="#" class="btn btn-primary">Leer más...</a>
                </div>
}
           

            </div>

        </div>
    </div>
    <!-- End Latest News Section -->
    <!-- Start Testimonial Section -->
    <div class="col-md-4">
        <div class="testimonial-section">
            <h3 class="section-title">Client's Speech About Us</h3>
            <div id="testimonials">

                <div class="testimonial">
                    <img src="images/team/team-3.jpg" class="img-responsive" alt="">
                    <h4>John Doe</h4>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
                </div>

                <div class="testimonial">
                    <img src="images/team/team-1.jpg" class="img-responsive" alt="">
                    <h4>John Doe</h4>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
                </div>

                <div class="testimonial">
                    <img src="images/team/team-2.jpg" class="img-responsive" alt="">
                    <h4>John Doe</h4>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
                </div>

            </div>
        </div>
    </div>
    <!-- End Testimonial Section -->

</div>
<!-- End Latest News & Testimonial Section -->

