<!-- Start About Us Section -->
<div class="row">
    <div class="col-md-5">
        <div class="home-about-us">
            <h3 class="section-title">About Us</h3>
            <img src="images/about.jpg" class="img-responsive" alt="">
            <p>Vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident praesentium voluptatum deleniti atque corrupti quos non provident.</p>
            <ul>
                <li><i class="fa fa-check-square-o"></i>At vero eos et accusamus et iusto odio</li>
                <li><i class="fa fa-check-square-o"></i>Nam libero tempore cum soluta nobis est</li>
                <li><i class="fa fa-check-square-o"></i>Temporibus autem quibusdam et aut officiis </li>
                <li><i class="fa fa-check-square-o"></i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</li>
            </ul>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </div>
    <div class="col-md-7">
        <div class="running-project">
            <h3 class="section-title">Our Running Project</h3>
            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <div class="project">
                        <img src="images/running-project/running1.jpg" class="img-responsive" alt="">
                        <div class="project-details">
                            <ul>
                                <li><strong>Project Name :</strong> Concord Building</li>
                                <li><strong>Project Location :</strong> Namaiya, Thailand</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="project">
                        <img src="images/running-project/running2.jpg" class="img-responsive" alt="">
                        <div class="project-details">
                            <ul>
                                <li><strong>Project Name :</strong> Concord Building</li>
                                <li><strong>Project Location :</strong> Namaiya, Thailand</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="project">
                        <img src="images/running-project/running3.jpg" class="img-responsive" alt="">
                        <div class="project-details">
                            <ul>
                                <li><strong>Project Name :</strong> Concord Building</li>
                                <li><strong>Project Location :</strong> Namaiya, Thailand</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="project">
                        <img src="images/running-project/running4.jpg" class="img-responsive" alt="">
                        <div class="project-details">
                            <ul>
                                <li><strong>Project Name :</strong> Concord Building</li>
                                <li><strong>Project Location :</strong> Namaiya, Thailand</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End About Us Section -->

